*{
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f5f8fa;
}

/*-------------------Estilos en la introduccion: Start-------------------*/
.container__into{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin:0  ;
}

.icon__container{
    width: 20px;
    height: 20px;
}
.icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.into__p{
    font-family: monospace;
    color: #1869a0;
    margin: 5px;
}

.intro{
    width: 100%;
    height: auto;
    margin-top: 0;
    text-align: center;
    padding: 1rem;
    background-color: #2C3E50 ;
    border-bottom:1rem solid #7a8b89;
}


h1{
    font-family: monospace;
    font-size: 36px;
    margin: 5px;
    color: #ffffff;
}

.intro__p{
    color:rgb(201, 201, 201);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.type__courses{
    
    margin-top:1rem ;
    text-align: center;
}

.courses__title{
    color: #1869a0;
    font-family: monospace;
}
.courses__p{
    color:rgb(27, 27, 27) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*-------------------Estilos en la introduccion: END-------------------*/

/*-------------------Estilo a seccion inicial: START-------------------*/

.start{
    width: 100%;
    padding: 8px;
}
 
@media screen and (min-width: 600px) {
    .start{
        display: flex;
        flex-wrap: wrap;
        
        gap: 12px;
    }

    .card{
        flex: 1 1 30rem;
    }

    .card__desc{
        max-width:90% ;
    }

    .info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

/*-------------------Estilo a seccion inicial: END--------------------*/


/*-------------------Seccion de la carta que muestra el curso: START--------------------*/

.card{
    background-color: #ffffff;
    padding: 12px;
    width: 95%;
    min-height: 400px;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid  rgb(0, 2, 95);
    border-top: 10px solid rgb(0, 2, 95) ;
    transition: outline .3s ease;
    cursor: pointer;
}

.card:hover{
    outline: 5px solid rgb(0, 2, 95) ;
}


.beginnings{
    width: 98%;
    height: auto;
    margin: auto;
    padding: 12px;
}

.card__title{
    margin-left: 0.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7a8b89;
    text-wrap: wrap;
    padding: 8px;
    margin-bottom: 5px;
    border-left:3px solid #7a8b89;
}

.card__p{
    text-align: center;
    margin-top: .9rem;
    font-size: 19px;
    color:rgb(27, 27, 27) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card__desc{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
}

.container{
    margin: 10px;
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;/*Conserva el tamaño de la imagen*/
}

.desc__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.desc__title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7a8b89;
}

.desc__p{
    font-size: 19px;
}
/*-------------------Seccion de la carta que muestra el curso: END--------------------*/


/*--------------------*Desarrollo de footer en la carta: START--------------------*/
.card__footer{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    
}

.details__block{
    margin: 0;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra{
    margin: 5px;
    width: 5px;
    height: 30px;
    border-radius: 8px;
    background-color: #3498DB;
}

.barra__delete{
    background-color: #999c9e;
}

.footer__details{
    margin: 0;
    display: flex;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.paragraph{
    margin: 0;
    margin:10px; 
}

.paragraph__block{
    padding-right: 3rem;
    border-right:2px solid rgb(2, 18, 71) ;
}

.footer__duration{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498DB;
    width: 100%;
    height: 50px;
    transition: background-color .3s ease;
}

.more:hover{
    background-color: #1869a0;
}

.more:active{
    background-color: #07283f;
}

/*Footer de la pagina */
footer{
    background-color: #2C3E50 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright{
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #547392;
}

.copyright__p{
    padding: 12px;
    color: #f5f8fa;
    font-family:sans-serif;
}

.info{
    text-align: center;
    list-style: none;
    padding: .5rem;
    
}

.info__item{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    padding: 9px;    
}
/*--------------------*Desarrollo de footer en la carta: END--------------------*/
